//
// - - - - - - - - - - Colors - - - - - - - - - - //
//

//
// - - - - - - - - - - Typography - - - - - - - - - - //
//

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,700;1,300;1,900&display=swap');

$monoRegular: 'Source Code Pro', monospace;

//
// - - - - - - - - - - Media Sizes - - - - - - - - - - //
//

$xs: 320px;
$sm: 500px;
$med: 768px;
$lg: 1024px;
$xl: 1200px;
