//
// - - - - - - - - - - Media Queries - - - - - - - - - - //
//

@media (min-width: $med) {
  #root {
    width: $med;
  }
}

@media (min-width: $lg) {
  #root {
    width: $lg;
  }

  .text,
  .preview {
    margin: 0 auto;
    width: 70%;
  }
}

@media (min-width: $xl) {
  #root {
    width: $xl;
  }
}

@media (min-width: $xxl) {
  #root {
    width: $xxl;
  }
}
