//
// - - - - - - - - - - Markdown Editor - - - - - - - - - - //
//

.container,
#preview {
  padding: 4px;
  width: 100%;

  textarea {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

.editor-container {
  height: 290px;
}

.editor-container,
.preview-container {
  background-color: $accentColor;
  @include shadow;

  h1 {
    text-align: center;
    border-bottom: 5px solid black;
  }
}

//
// - - - - - - - - - - Markdown Previewer - - - - - - - - - - //
//

#preview {
  font-weight: 500;
  margin-bottom: 40px;

  h1,
  h2 {
    text-align: left;
    border: none;
  }

  code {
    display: inline-block;
    background-color: lightgray;
  }

  blockquote {
    border-left: 3px solid black;

    p {
      margin-left: 3px;
    }
  }

  img {
    width: 50px;
  }
}
